.resultados-relatorio{
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}

.transacao{
  display: flex;
  align-items: center;
  background-color:var(--cor-1);
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid var(--cor-10);
}

.icon{
  background-color: red;
  color: var(--cor-1);
  padding: 0.5%;
  border-radius: 100px;
  font-size: 0.7rem;
}

.tituloEconta{
  display: flex;
  flex-direction: column;
}
.valorEdadoAdicional{
  display: flex;
  flex-direction: column;
}

.dados-transacao{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3%;
}