<section class="resultados-relatorio">
  <p>Total:{{totalPage}}</p>
  <p> Página Atual:{{page}}</p>
  <div class="transacao" *ngFor="let gasto of gastos">
    <div class="icon">
      <i [class]="gasto.iconClass"></i>
    </div>
    <div class="dados-transacao">
      <div class="tituloEconta">
        <label>{{ gasto.nome }}</label>
        <label>{{ gasto.descricaoTransacao }}</label>
      </div>
      <div class="valorEdadoAdicional">
        <label>R$ {{ gasto.valor | number:'1.2-2' }}</label>
        <label *ngIf="gasto.percentual">{{ gasto.percentual }}%</label>
        <label *ngIf="gasto.data">{{ gasto.data }}</label>
      </div>
    </div>
  </div>
</section>
