.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Começa oculto */
    justify-content: center;
    align-items: center;
    background: var(--cor-6); /* Opacidade de fundo */
    z-index: 99999;
  }
  
  .preloader-container.show {
    display: flex; /* Mostra o preloader */
  }
  
  .preloader-container.hide {
    display: none; /* Garante que o preloader será oculto */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--cor-1);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  