<div class="contain-popup show">
  <div class="popUp">
    <div class="titulo">
      {{ typePopUp === 'edit' ? 'Editar Conta' : 'Editar Conta' }}
    </div>

    <div class="dados-nova-conta">
      <div class="nome border-bottom">
        <h5>Nome</h5>
        <input type="text" [(ngModel)]="nome" placeholder="Digite aqui" />
      </div>

      <div class="nome border-bottom">
        <h5>Cheque Especial</h5>
        <input type="number" [(ngModel)]="chequeEspecial" placeholder="Digite aqui" />
      </div>

      <div class="nome border-bottom">
        <h5>Saldo Inicial</h5>
        <input type="number" [(ngModel)]="saldoInicial" placeholder="Digite aqui" />
      </div>

      <div class="nome border-bottom">
        <h5>Importar CSV</h5>
        <label for="arquivoCsv" class="icon-file"><i class="bi bi-upload"></i></label>
        <input id="arquivoCsv" type="file" (change)="onCsvFileChange($event)" accept=".csv" />
      </div>

      <div class="nome border-bottom">
        <h5>Categoria</h5>
        <select [(ngModel)]="categoriaId">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.name }}
          </option>
        </select>
      </div>

      <div class="nome border-bottom column">
        <h5>Informações Adicionais</h5>
        <textarea [(ngModel)]="infoAdicional" placeholder="Digite aqui..."></textarea>
      </div>
    </div>

    <div class="btns">
      <button id="cancelar" (click)="fecharNovaConta()">Cancelar</button>
      <button id="salvar" (click)="salvarConta()">Salvar</button>
    </div>
  </div>
</div>
