<div class="overlay">
    <div class="modal-incluir">
      <h3>Incluir card no Dashboard</h3>

      <div class="campo-descricao">
        <label for="descricao">Descrição</label>
        <input id="descricao" type="text" value="Sem-título-01" />
      </div>
      
    <hr/> 
      <div class="opcoes">
        <label>
          <input type="checkbox" [(ngModel)]="incluirGraficos" />
          Incluir gráficos
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="incluirLista" />
          Incluir lista
        </label>
      </div>
  
      <hr />
      <p>No Dashboard o card filtrará os <br> dados considerando o mês corrente.</p>
  
      <div class="botoes">
        <button class="cancelar" (click)="fechar()">Cancelar</button>
        <button class="incluir" (click)="confirmar()">Incluir</button>
      </div>
    </div>
  </div>
  
  <!-- Popup de erro -->
  <div class="erro-overlay" *ngIf="mostrarErro">
    <div class="erro-popup">
      <p>Você deve escolher pelo menos <br>uma das duas opções de visualizaçãos.</p>
      <button (click)="fecharErro()">Ok</button>
    </div>
  </div>

