<!-- Modal de Inclusão no Dashboard -->
<div class="overlay">
    <div class="modal-incluir">
      <h3>Incluir card no Dashboard</h3>
      
      <div class="opcoes">
        <label>
          <input type="checkbox" [(ngModel)]="incluirGraficos" />
          Incluir gráficos
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="incluirLista" />
          Incluir lista
        </label>
      </div>
  
      <hr />
  
      <p>No Dashboard o card filtrará os dados considerando o mês corrente.</p>
  
      <div class="botoes">
        <button class="cancelar" (click)="fechar()">Cancelar</button>
        <button class="incluir" (click)="confirmar()">Incluir</button>
      </div>
    </div>
  </div>
  