<div class="contain-popup" [style.visibility]="mostrarNovaTransferencia ? 'visible' : 'hidden'">



  <div class="popUp">
    <div class="titulo">Nova tranferência <p>Ao realizar a transferência, será criada uma transação de tipo receita em
        uma conta e uma de tipo despesa na outra conta selecionada.</p>
    </div>

    <div class="flex">
      <div class="dados-nova-conta">
        <!-- Descrição -->
        <div class="nome border-bottom">
          <h5>Descrição</h5>
          <input type="text" [(ngModel)]="nome" placeholder="Digite aqui" />
        </div>

        <!-- Cheque Especial -->
        <div class="nome border-bottom">
          <h5>Valor</h5>
          <input type="number" [(ngModel)]="chequeEspecial" placeholder="Digite aqui" />
        </div>

        <!-- Saldo Inicial -->
        <div class="nome border-bottom">
          <h5>Data de lançamento</h5>
          <input type="datetime-local" [(ngModel)]="dataAtual" placeholder="Digite aqui" />
        </div>

        <!-- Status da Transação -->
        <!-- <div class="nome border-bottom">
        
          <label>
            <input type="radio" name="status" value="efetivada" />
            <p>Efetivada</p>
          </label><br>
        
          <label>
            <input type="radio" name="status" value="previsto" />
            <p>Previsto</p>
          </label>
        </div> -->

        <!-- Informações Adicionais -->
        <div class="nome border-bottom column remover-border-bottom">
          <h5>Informações Adicionais</h5>
          <textarea [(ngModel)]="infoAdicional" placeholder="Digite aqui..."></textarea>
        </div>

      </div>

      <div class="popup-2">
      <!-- Conta de saída -->
<div class="nome border-bottom">
  <h5>Conta (Á retirar Valor)</h5>
  <select [(ngModel)]="contaSaidaId">
    <option *ngFor="let categoria of categorias" [value]="categoria.id" [disabled]="categoria.id === contaEntradaId">
      {{ categoria.name }}
    </option>
  </select>
</div>

<!-- Conta de entrada -->
<div class="nome border-bottom remover-border-bottom">
  <h5>Conta 2 (Á receber Valor)</h5>
  <select [(ngModel)]="contaEntradaId">
    <option *ngFor="let categoria of categorias" [value]="categoria.id" [disabled]="categoria.id === contaSaidaId">
      {{ categoria.name }}
    </option>
  </select>
</div>
<!-- Select para categoria da transferência -->
<div class="nome border-bottom">
  <h5>Categoria da Transferência</h5>
  <select [(ngModel)]="categoriaSelecionadaId">
    <option value="">-- Selecione uma categoria --</option>
    <option *ngFor="let categoria of categorias" [value]="categoria.id">
      {{ categoria.name }}
    </option>
  </select>
</div>

<div class="despesa-container">
  <label class="radio-option">
    <input type="radio" name="tipoDespesa" [(ngModel)]="tipoTransferenciaSelecionada" value="naoRecorrente" />
    Transferência não recorrente
  </label>

  <label class="radio-option">
    <input type="radio" name="tipoDespesa" [(ngModel)]="tipoTransferenciaSelecionada" value="mensalFixa" />
    Transferência fixa mensal
  </label>

  <label class="radio-option">
    <input type="radio" name="tipoDespesa" [(ngModel)]="tipoTransferenciaSelecionada" value="repetir" />
    Repetir Transferência

    <!-- Este campo só aparece se o valor for 'repetir' -->
    <span class="parcelas" *ngIf="tipoTransferenciaSelecionada === 'repetir'">
      Parcelas
      <input type="number" [(ngModel)]="parcelas" min="2"/>
    </span>
  </label>

  <!-- Aparece apenas se tipo for 'repetir' -->
  <div class="periodicidade" *ngIf="tipoTransferenciaSelecionada === 'repetir'">
    <label>Periodicidade</label>
    <select [(ngModel)]="periodicidade">
      <option value="DIARIO">DIARIO</option>
      <option value="SEMANAL">SEMANAL</option>
      <option value="QUINZENAL">QUINZENAL</option>
      <option value="MENSAL">MENSAL</option>
      <option value="TRIMESTRAL">TRIMESTRAL</option>
      <option value="SEMESTRAL">SEMESTRAL</option>
      <option value="ANUAL">ANUAL</option>
    </select>
  </div>

  <!-- Toggle de dias úteis -->
  <div class="toggle-container" *ngIf="tipoTransferenciaSelecionada === 'repetir'">
    <label>Despesa recorrente em dias úteis:</label>
    <span class="toggle-label">Não</span>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="diasUteis" />
      <span class="slider"></span>
    </label>
    <span class="toggle-label">Sim</span>
  </div>
</div>





        <div class="btns">
          <button id="cancelar" (click)="fecharNovaConta()">Cancelar</button>
          <button id="salvar" (click)="salvarConta()">Salvar</button>
        </div>

      </div>

    </div>

  </div>
</div>