

.menu-categorias {
    background: linear-gradient(to right, #5A89F0, #3C217A);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 70px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  }
  
  .menu-categorias-esquerda {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  



  /*<div class="campo-busca">
  <input type="text"  />
  <i class="bi bi-search"></i>
  </div>

  .campo-busca {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    display: flex;
    align-items: center;
    height: 36px;
    width: 220px;
    padding: 0 12px;
    gap: 10px;
    transition: background 0.3s ease;
    box-shadow: none;
    border: none;
  }
  
  .campo-busca input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    width: 100%;
  }
  
  .campo-busca input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .campo-busca i {
    color: white;
    font-size: 16px;
  }*/
  

  .menu-categorias-direita {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  





  /*<button class="btn-adicionar">Adicionar</button>
  .btn-adicionar {
    background-color: transparent;
    color: white;
    font-weight: 600;
    padding: 6px 16px;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .btn-adicionar:hover {
    background-color: rgba(255, 255, 255, 0.1); /* leve destaque ao passar o mouse 
  }*/
  
  
  .titulo {
    margin: 0;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
  }
  

  @media screen and (max-width: 800px) {
    .menu-categorias {
        width: 90%;
        margin-top: 5%;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5%;
        height: auto;
    }
  }