#principais-despesas {
    background-color: #F0F0F0;
    width: 40%;
    margin: auto;
    position: absolute;
    top: 42%;
    left: 56%;
    
  }

  .more-icon{
    position:absolute;
    margin-left: 95%;
    font-size: larger;
    top: 22px;
    cursor: pointer;
  }
  
  .titulo{
    margin: 20px;
    
  }

  .coluna:first-child {
    border-right: 2px solid #ccc; /* Cor e espessura da linha */
    padding-right: 14px; /* Ajuste o espaçamento para não colar na borda */
}

  .contain-despesas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    
  }
  
  .coluna {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 2%;
  }
  
  .despesa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 60%;
    border-radius: 5px;
    
  }
  
  .numero-despesa {
    padding: 9px;
    background: linear-gradient(to bottom, #929292, #4A4A4A);
    color: white;
    border-radius: 6px;
    width: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    
    
  }
  
  .valor {
    color: red;
    font-size: 130%;
    width: 90px;
    display: block;
    margin-bottom: 4px;
    padding-left: 40px;
  }
  
  .dados-despesa{
    
    width: 180px;
    color: #B2B2B2;
    
  }

  .dados-despesa h5 {
    margin-bottom: 2px; /* Reduz o espaço abaixo do título */
    font-size: 140%;
    
    margin-top: 10px;
    color: hsla(0, 0%, 0%, 0.521);
    margin-left: 10px
}
 
.dados-despesa label{
  margin-left: 10px;
  font-size: smaller;
  margin-bottom: 5%;
  padding: 1px;
    display: block; 
}

