<section id="pricipais-despesas">
    <h2>Principais despesas</h2>
    <div class="contain-despesas">
        <div class="contain-1">
            <div class="despesa">
                <div class="numero-despesa">1</div>
                <div class="dados-despesa">
                    <h5>SUBWAY AV CENTRO</h5>
                    <label>23 de março</label>
                </div>
                <div class="valor">-R$5,00</div>
            </div>
        </div>
        <div class="contain-2">
            <div class="despesa">
                <div class="numero-despesa">1</div>
                <div class="dados-despesa">
                    <h5>SUBWAY AV CENTRO</h5>
                    <label>23 de março</label>
                </div>
                <div class="valor">-R$5,00</div>
            </div>
        </div>
    </div>
</section>