<section id="principais-despesas">

  <div class="titulo">
    <h2>Principais despesas</h2>
    <i class="bi bi-three-dots more-icon"></i>
  </div>

  <div class="contain-despesas">
    <!-- Coluna da esquerda -->
    <div class="coluna">
      <div class="despesa">
        <div class="numero-despesa">1</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">2</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">3</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">4</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">5</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>
    </div>

    <!-- Coluna da direita -->
    <div class="coluna">
      <div class="despesa">
        <div class="numero-despesa">6</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">7</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">8</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">9</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>

      <div class="despesa">
        <div class="numero-despesa">10</div>
        <div class="dados-despesa">
          <h5>SUBWAY AV CENTRO</h5>
          <label>23 de março</label>
        </div>
        <div class="valor">-R$ 43,05</div>
      </div>
    </div>
  </div>
</section>