<div class="contain-popup" [style.visibility]="mostrarNovaConta ? 'visible' : 'hidden'">
    <div class="popUp">
        <div class="menu-pop-up">
            <input type="text" value="Nova conta">
            <div class="btns-operacoes">
                <button class="btn-salvar-pop-up">Salvar</button>
                <i class="bi bi-x icon-fechar-pop-up" (click)="fecharNovaConta()"></i> <!-- Botão de fechar -->
            </div>
        </div>

        <div class="dados-nova-conta">
            <div class="dados-descricao">
                <h5>Descrição</h5>
                <input type="text">
                <i class="bi iconEscolherIcons" [ngClass]="iconeSelecionado" (click)="toggleOpcoes()"></i>

                <!-- Opções de Ícones -->
                <div class="opcoesDeIcones" *ngIf="mostrarOpcoes">
                    <i class="bi bi-skip-start-circle-fill" (click)="selecionarIcone('bi-skip-start-circle-fill')"></i>
                    <i class="bi bi-star-half" (click)="selecionarIcone('bi-star-half')"></i>
                    <i class="bi bi-heart-fill" (click)="selecionarIcone('bi-heart-fill')"></i>
                    <i class="bi bi-lightning-fill" (click)="selecionarIcone('bi-lightning-fill')"></i>
                </div>
            </div>

            <div class="dados-saldo-inicial">
                <h5>Saldo Inicial +/-</h5>
                <input type="text" placeholder="R$ 0,00">
                <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
            </div>

            <div class="dados-cheque-especial">
                <h5>Cheque Especial</h5>
                <input type="text" placeholder="R$ 0,00">
                <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
            </div>

            <div class="dados-informacoes-adicionais">
                <h5>Informações adicionais</h5>
                <textarea type="text"></textarea>
                <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
            </div>
        </div>
    </div>
</div>
