<div class="despesas-card">
    <div class="despesas-header">
        <h3>Despesas</h3>
        <i title="lol" class="bi bi-three-dots more-icon"></i>
        <div class="despesas-info">
            <div class="info-text">
              <p class="titulo">Despesas do mês</p>
              <p class="subtitulo">Despesas previstas</p>
            </div>
            <div class="valores">
              <p class="valor-atual">210,00</p>
              <p class="valor-previsto">320,00</p>
            </div>
          </div>
        </div>
    </div>

