<div class="despesas-card">
  <div class="despesas-header">
    <div class="titulo-despesa">
      <h3>Despesas</h3>
      <div class="icons">
        <i class="bi bi-three-dots more-icon"></i>
        <i class="bi"
            [ngClass]="{'bi-eye': !mostrarValores, 'bi-eye-slash': mostrarValores}" 
            (click)="toggleValores()">
        </i>
      </div>
    </div>
      
    </div>
    <div class="despesas-info">
      <div class="info-text">
        <p class="titulo">Despesas do mês</p>
        <p class="subtitulo">Despesas previstas</p>
      </div>
      <div class="valores">  
        <p>{{ mostrarValores ? valores.despesasdoMes.toLocaleString('pt-BR',{ minimumFractionDigits: 2}) : '******' }}</p>
        <p>{{ mostrarValores ? valores.despesasPrevistas.toLocaleString('pt-Br',{ minimumFractionDigits: 2}) : '******' }}</p>
      </div>
    </div>
  </div>


 