<!-- Conteúdo das Categorias -->
<div class="conteudo">
  <app-sidebar></app-sidebar>
  <app-menu></app-menu>
  <div class="abas">
    <button [class.ativo]="abaSelecionada === 'REVENUE'" (click)="selecionarAba('REVENUE')"
      id="btn-receitas">Receitas</button>
    <button [class.ativo]="abaSelecionada === 'EXPENSE'" (click)="selecionarAba('EXPENSE')"
      id="btn-contas">Despesas</button>
    <button [class.ativo]="abaSelecionada === 'ACCOUNT'" (click)="selecionarAba('ACCOUNT')"
      id="btn-despesas">Contas</button>
  </div>
  <div class="painel-categorias">

    <!-- CATEGORIAS -->
    <div class="tabela">
      <div class="cabecalho-titulo">
        <b>Categorias</b>
       
        <button class="btn-adicionar-categoria" (click)="toggleNovaCategoriaPopup()">
          <i class="bi bi-plus-circle"></i> Categoria
        </button>
        
        
        
      </div>

      <div class="cabecalho">
        <div>Descrição</div>
        <div>Valor</div>
        <div>Ações</div>
      </div>
      <div class="msg-naoEncontrado" *ngIf="categoriasSelecionadas.length === 0">
        <p>😭 Nenhuma categoria encontrada.</p>
      </div>
      <div class="linha linha-categoria" *ngFor="let categoria of categoriasSelecionadas"
      (click)="buscarSubcategoriasPorCategoria({ id: categoria.id, type: abaSelecionada })"
        [class.categoriaSelecionada]="categoriaSelecionada === categoria.id"  >
        <div [title]="categoria.descricao">
          <i [class]="categoria.icone" [style.background]="categoria.cor"></i>
          <b> {{ categoria.nome }}</b>
          <!-- {{ categoria.descricao }} -->
        </div>
        <div class="valor-categoria" [title]="categoria.descricao">
          R$ {{ categoria.total.toFixed(2).replace('.', ',') }}
        </div>
        
        <div class="menu-acao-wrapper">
          <i class="bi bi-three-dots icone-acao" (click)="toggleMenu(categoria); $event.stopPropagation()"></i>
          <div class="menu-popup" *ngIf="categoria.menuAberto">
            <div class="opcao" (click)="fecharMenusCategorias();toggleEditCategoriaPopup(categoria.id)">Editar</div>
            <div class="opcao opcao-excluir"
              (click)="fecharMenusCategorias(); toggleDeleteCategoria(categoria.id); $event.stopPropagation()">Excluir
            </div>
            <div class="opcao" (click)="fecharMenusCategorias();">Gráfico evolução mensal(mvp2)</div>
          </div>
        </div>
      </div>


      <div class="rodape">
        <div>Categorias: <b>{{ categoriasSelecionadas.length }}</b></div>
        <div>Total: <b>R$ {{ calcularTotalCategorias().toFixed(2).replace('.', ',') }}</b></div>
        <br>
        <h6>Dados do mês de {{globalService.currentMonthName}}</h6>
      </div>
    </div>

    <!-- SUBCATEGORIAS -->
    <div class="tabela" [class.ocultaSubCategoria]="abaSelecionada === 'ACCOUNT'">
      <div class="cabecalho-titulo">
        <div><b>Subcategorias</b></div>
        <button class="btn-adicionar-Subcategoria" (click)="toggleNovaSubcategoriaPopup()">
          <i class="bi bi-plus-circle"></i> Subcategoria
        </button>
      </div>

      <div class="subcabecalho">
        <div>Descrição</div>
        <div>Valor</div>
        <div>Ações</div>
      </div>
      <div class="msg-naoEncontrado" *ngIf="subcategoriasSelecionadas.length === 0">
        <p>Nenhuma subcategoria Encontrada 😔.</p>
      </div>
      <div class="linha" *ngFor="let sub of subcategoriasSelecionadas">
        <div>
          <i [class]="sub.icone" [style.background]="sub.cor"></i> {{ sub.descricao }}
        </div>
        <div>{{ sub.total ? sub.total.toFixed(2).replace('.', ',') : '0,00' }}</div>
        <div class="menu-acao-wrapper">
          <i class="bi bi-three-dots icone-acao" (click)="toggleMenuSub(sub)"></i>
          <div class="menu-popup" *ngIf="sub.menuAberto">
            <div class="opcao" (click)="fecharMenusSubcategorias(); toggleEditSubcategoriaPopup(sub.id)">Editar</div>
            <div class="opcao opcao-excluir" (click)="fecharMenusSubcategorias();  toggleDeleteSubCategoria(sub.id, sub.categoryId); $event.stopPropagation()">Excluir</div>
            <div class="opcao" (click)="fecharMenusSubcategorias();">Gráfico evolução mensal(mvp2)</div>
          </div>
        </div>
      </div>

      <div class="rodape">
        <div>Subcategorias: <b>{{ subcategoriasSelecionadas.length }}</b></div>
        <div>Total: <b>R$ {{ calcularTotalSubcategorias().toFixed(2).replace('.', ',') }}</b></div>
        <br>
        <h6>Dados do mês de {{globalService.currentMonthName}}</h6>
      </div>
    </div>

  </div>
</div>

<app-nova-categoria (categoriaSalva)="buscarCategorias()"></app-nova-categoria>
<app-nova-subcategoria (subCategoriaSalva)="buscarSubcategoriasPorCategoria($event)"></app-nova-subcategoria>
<app-confirm-popup [message]="'Tem certeza que deseja excluir esta categoria?'" [visible]="confirmPopupVisible"
  (confirm)="deletarCategoriaConfirmada(idCategoriaParaExcluir)" (cancel)="confirmPopupVisible = false">
</app-confirm-popup>

<app-confirm-popup [message]="'Tem certeza que deseja excluir esta Subcategoria?'" [visible]="confirmPopupVisibleSubCategoria"
  (confirm)="deletarSubCategoriaConfirmada(idSubCategoriaParaExcluir,idCategoryInSubCategory)" (cancel)="confirmPopupVisibleSubCategoria = false">
</app-confirm-popup>