<div class="container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <app-menu></app-menu>

    <div class="mes-navegacao">
      <button class="seta" (click)="voltarMes()">
        <i class="bi bi-chevron-left"></i>
      </button>
      <span class="mes-atual"><b>{{ nomeMesAtual }}</b> {{ anoAtual }}</span>
      <button class="seta" (click)="avancarMes()">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <div class="abas">
      <button [class.ativo]="abaSelecionada === 'REVENUE'" (click)="selecionarAba('REVENUE')" id="btn-receitas">
        Receitas
      </button>
      <button [class.ativo]="abaSelecionada === 'EXPENSE'" (click)="selecionarAba('EXPENSE')" id="btn-despesas">
        Despesas
      </button>
      <button [class.ativo]="abaSelecionada === 'TRANSFERENCIA'" (click)="selecionarAba('TRANSFERENCIA')" id="btn-transferencias">
        Transferências
      </button>
    </div>

    <div class="conteudo">
      <div class="tabela-transacoes">
        <div class="cabecalho">
          <div>Descrição</div>

          <ng-container *ngIf="abaSelecionada !== 'TRANSFERENCIA'; else transferenciasCabecalho">
            <div>Categoria</div>
            <div>Conta</div>
          </ng-container>

          <ng-template #transferenciasCabecalho>
            <div>Conta de origem</div>
            <div>Conta de destino</div>
          </ng-template>

          <div>Situação</div>
          <div>Data Efetivação</div>
          <div>Valor</div>
          <div>Ações</div>
        </div>
        <div class="linha-separadora"></div>

        <div class="conteudo-aba">

          <!-- RECEITAS -->
          <div *ngIf="abaSelecionada === 'REVENUE'">
            <div *ngFor="let transacao of transacoesRevenue; let i = index" class="linha">
              <div>{{ transacao.descricao }}</div>

              <div class="coluna-categoria">
                <ng-container *ngFor="let cat of transacao.categoria">
                  <div class="icone-colorido" [style.backgroundColor]="cat.corHex">
                    <i class="fa {{ cat.icone }}"></i>
                  </div>
                </ng-container>
                <span>{{ transacao.categoriaTexto }}</span>
              </div>

              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.conta.corHex">
                  <i class="fa {{ transacao.conta.icone }}"></i>
                </div>
                <span>{{ transacao.conta.nome }}</span>
              </div>

              <div [ngClass]="{
                'situacao-efetivada': transacao.situacao === 'Efetivada',
                'situacao-prevista': transacao.situacao === 'Prevista'
              }">
                {{ transacao.situacao }}
              </div>

              <div>{{ transacao.data }}</div>

              <div class="valor-destaque" [style.color]="getCorValor()">{{ transacao.valor }}</div>

              <div class="icone-acao">
                <div class="icone-acao-wrapper">
                  <i class="fa fa-ellipsis icone-acao" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Receita</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Receita</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- DESPESAS -->
          <div *ngIf="abaSelecionada === 'EXPENSE'">
            <div *ngFor="let transacao of transacoesExpense; let i = index" class="linha">
              <div class="coluna">{{ transacao.descricao }}</div>

              <div class="coluna coluna-categoria">
                <ng-container *ngFor="let cat of transacao.categoria">
                  <div class="icone-colorido" [style.backgroundColor]="cat.corHex">
                    <i class="fa {{ cat.icone }}"></i>
                  </div>
                </ng-container>
                <span>{{ transacao.categoriaTexto }}</span>
              </div>

              <div class="coluna coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.conta.corHex">
                  <i class="fa {{ transacao.conta.icone }}"></i>
                </div>
                <span>{{ transacao.conta.nome }}</span>
              </div>

              <div class="coluna"
                   [ngClass]="{
                     'situacao-efetivada': transacao.situacao === 'Efetivada',
                     'situacao-prevista': transacao.situacao === 'Prevista'
                   }">
                {{ transacao.situacao }}
              </div>

              <div class="coluna">{{ transacao.data }}</div>

              <div class="coluna valor-destaque" [style.color]="getCorValor()">{{ transacao.valor }}</div>

              <div class="coluna-acoes">
                <div class="icone-acao-wrapper">
                  <i class="fa fa-ellipsis icone-acao" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Despesa</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Despesa</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- TRANSFERÊNCIAS -->
          <div *ngIf="abaSelecionada === 'TRANSFERENCIA'">
            <div *ngFor="let transacao of transacoesTransferencia; let i = index" class="linha">
              <div>{{ transacao.descricao }}</div>

              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.contaOrigem.corHex">
                  <i class="fa {{ transacao.contaOrigem.icone }}"></i>
                </div>
                <span>{{ transacao.contaOrigem.nome }}</span>
              </div>

              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.contaDestino.corHex">
                  <i class="fa {{ transacao.contaDestino.icone }}"></i>
                </div>
                <span>{{ transacao.contaDestino.nome }}</span>
              </div>

              <div [ngClass]="{
                'situacao-efetivada': transacao.situacao === 'Efetivada',
                'situacao-prevista': transacao.situacao === 'Prevista'
              }">
                {{ transacao.situacao }}
              </div>

              <div>{{ transacao.data }}</div>

              <div class="valor-destaque" [style.color]="getCorValor()">{{ transacao.valor }}</div>

              <div class="icone-acao">
                <div class="icone-acao-wrapper">
                  <i class="fa fa-ellipsis icone-acao" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Transferência</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Transferência</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
