<div class="container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <app-menu></app-menu>

    <div class="mes-navegacao">
      <button class="seta" (click)="voltarMes()">
        <i class="bi bi-chevron-left"></i>
      </button>
      <span class="mes-atual"><b>{{ nomeMesAtual }}</b> {{ anoAtual }}</span>
      <button class="seta" (click)="avancarMes()">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <div class="abas">
      <button [class.ativo]="abaSelecionada === 'REVENUE'" (click)="selecionarAba('REVENUE')" id="btn-receitas">
        Receitas
      </button>
      <button [class.ativo]="abaSelecionada === 'EXPENSE'" (click)="selecionarAba('EXPENSE')" id="btn-despesas">
        Despesas
      </button>
      <button [class.ativo]="abaSelecionada === 'TPDAS'" (click)="selecionarAba('TPDAS')" id="btn-transferencias">
        Todas
      </button>
    </div>

    <div class="conteudo">
      <div class="tabela-transacoes">
        <div class="cabecalho">
          <div>Descrição</div>
          <div>Categoria</div>
          <div>Conta</div>
          <div>Situação</div>
          <div>Data Efetivação</div>
          <div>Valor</div>
          <div>Ações</div>
        </div>
        <div class="linha-separadora"></div>

        <div class="conteudo-aba">

          <div *ngIf="abaSelecionada === 'REVENUE'">
            <div *ngIf="transacoesRevenue.length === 0" class="sem-transacoes">Nenhuma receita encontrada. 😔</div>
            <div *ngFor="let transacao of transacoesRevenue; let i = index" class="linha">
              <div>{{ transacao.descricao }}</div>
              <div class="coluna-categoria">
                <ng-container *ngFor="let cat of transacao.categoria">
                  <div class="icone-colorido" [style.backgroundColor]="cat.corHex">
                    <i class="bi {{ cat.icone }}"></i>
                  </div>
                </ng-container>
                <span>{{ transacao.categoriaTexto }}</span>
              </div>
              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.conta.corHex">
                  <i class="bi {{ transacao.conta.icone }}"></i>
                </div>
                <span>{{ transacao.conta.nome }}</span>
              </div>
              <div [ngClass]="{
                'situacao-efetivada': transacao.situacao === 'Efetivada',
                'situacao-prevista': transacao.situacao === 'Prevista'
              }">
                {{ transacao.situacao }}
              </div>
              <div>{{ transacao.data }}</div>
              <div class="valor-destaque" [style.color]="getCorValor()">{{ transacao.valor }}</div>
              <div class="icone-acao">
                <div class="icone-acao-wrapper">
                  <i class="bi bi-three-dots-vertical icone-hover" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Receita</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Receita</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="abaSelecionada === 'EXPENSE'">
            <div *ngIf="transacoesExpense.length === 0" class="sem-transacoes">Nenhuma despesa encontrada.</div>
            <div *ngFor="let transacao of transacoesExpense; let i = index" class="linha">
              <div>{{ transacao.descricao }}</div>
              <div class="coluna-categoria">
                <ng-container *ngFor="let cat of transacao.categoria">
                  <div class="icone-colorido" [style.backgroundColor]="cat.corHex">
                    <i class="bi {{ cat.icone }}"></i>
                  </div>
                </ng-container>
                <span>{{ transacao.categoriaTexto }}</span>
              </div>
              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.conta.corHex">
                  <i class="bi {{ transacao.conta.icone }}"></i>
                </div>
                <span>{{ transacao.conta.nome }}</span>
              </div>
              <div [ngClass]="{
                'situacao-efetivada': transacao.situacao === 'Efetivada',
                'situacao-prevista': transacao.situacao === 'Prevista'
              }">
                {{ transacao.situacao }}
              </div>
              <div>{{ transacao.data }}</div>
              <div class="valor-destaque" [style.color]="getCorValor()">{{ transacao.valor }}</div>
              <div class="icone-acao">
                <div class="icone-acao-wrapper">
                  <i class="bi bi-three-dots-vertical icone-hover" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Despesa</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Despesa</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="abaSelecionada === 'TPDAS'">
            <div *ngIf="transacoesTpdas.length === 0" class="sem-transacoes">Nenhuma transação encontrada.</div>
            <div *ngFor="let transacao of transacoesTpdas; let i = index" class="linha">
              <div>{{ transacao.descricao }}</div>
              <div class="coluna-categoria">
                <ng-container *ngFor="let cat of transacao.categoria">
                  <div class="icone-colorido" [style.backgroundColor]="cat.corHex">
                    <i class="bi {{ cat.icone }}"></i>
                  </div>
                </ng-container>
                <span>{{ transacao.categoriaTexto }}</span>
              </div>
              <div class="coluna-conta">
                <div class="icone-colorido" [style.backgroundColor]="transacao.conta.corHex">
                  <i class="bi {{ transacao.conta.icone }}"></i>
                </div>
                <span>{{ transacao.conta.nome }}</span>
              </div>
              <div [ngClass]="{
                'situacao-efetivada': transacao.situacao === 'Efetivada',
                'situacao-prevista': transacao.situacao === 'Prevista',
                'situacao-outra': transacao.situacao !== 'Efetivada' && transacao.situacao !== 'Prevista'
              }">
                {{ transacao.situacao }}
              </div>
              <div>{{ transacao.data }}</div>
              <div class="valor-destaque" [style.color]="getCorValor(transacao.tipo)">{{ transacao.valor }}</div>
              <div class="icone-acao">
                <div class="icone-acao-wrapper">
                  <i class="bi bi-three-dots-vertical icone-hover" (click)="abrirMenu(i)"></i>
                  <div class="menu-dropdown" *ngIf="menuAbertoIndex === i">
                    <button (click)="editarTransacao(transacao)">Editar Transação</button>
                    <button class="excluir" (click)="excluirTransacao(transacao)">Excluir Transação</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-confirm-popup
  [message]="'Tem certeza que deseja excluir esta transação?'"
  [visible]="confirmPopupTransacaoVisible"
  (confirm)="deletarTransacao(idTransacaoParaExcluir)"
  (cancel)="confirmPopupTransacaoVisible = false">
</app-confirm-popup>

<app-nova-transacao (transacaoSalva)="buscartransacoes()"></app-nova-transacao>