<section id="filtro-extrato">
    <h2>Filtro de extrato</h2>
    <div class="contain-filtro">
      <div class="filtro-item">
        <label>Conta</label>
        <select>
          <option>Principal</option>
        </select>
      </div>
      <div class="filtro-item">
        <label>Categoria</label>
        <select>
          <option>Todas</option>
        </select>
      </div>
      <div class="filtro-item">
        <label>De</label>
        <input type="date" value="2025-03-01">
      </div>
      <div class="filtro-item">
        <label>Até</label>
        <input type="date" value="2025-03-21">
      </div>
      <div class="checkReceitaDespesa">
      <div class="filtrar-item">
        <input type="checkbox" checked>
        <label>Receitas</label>
        
      </div>
      <div class="filtrar-item">
        <input type="checkbox" checked>
        <label>Despesas</label>
        
      </div>
    </div>
      <button >
        <i class="bi bi-funnel-fill"></i>Filtrar
      </button>
    </div>
  </section>
 