#filtro-extrato {
    background-color: #F0F0F0;
    padding: 0px;
    width: 42.2%;
    margin: 20px auto;
    position: absolute;
    top: 80%;
    left: 56%;
  }
   
  .contain-filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }
   
  .checkReceitaDespesa{
    display: flex;
    flex-direction: column-reverse;
  }
  .filtro-item {
    display: flex;
    flex-direction: column; /* Assegura que os itens dentro de .filtro-item fiquem em coluna */
    width: 10%; /* Ajusta a largura dos itens */
    font-size: small;
  }
  
  label {
    font-weight: bold;
    color: #565656;
    
  }
  
  select, input[type="date"], input[type="checkbox"] {
    padding: 5px;
    border-radius: 4px;
    background-color: #A1A1A1;
    color: #565656;
    cursor: pointer;
  }
  
  button {
    background-color: #A1A1A1;
    color: white;
    cursor: pointer;
    border: #565656;
    width: 10%;
    padding: 1px;
    font-weight: bold;
    
  }

  .filtrar-item{
    width: auto;
    accent-color: #FFFFFF;
    display: block;
  }


