<!-- Botão do ícone -->
<i class="bi  iconEscolherIcons" [ngClass]="iconeSelecionado" (click)="toggleOpcoes()"></i>
<!-- Opções de ícones -->
<div class="opcoesDeIcones" *ngIf="mostrarOpcoes">
  <span (click)="toggleOpcoes()"><label><b>Escolher Ícone</b></label> <label>Fechar</label> </span>
  <i class="bi bi-house-fill" (click)="selecionarIcone('bi-house-fill')"></i>
  <i class="bi bi-lightning-fill" (click)="selecionarIcone('bi-lightning-fill')"></i>
  <i class="bi bi-droplet-fill" (click)="selecionarIcone('bi-droplet-fill')"></i>
  <i class="bi bi-cart-fill" (click)="selecionarIcone('bi-cart-fill')"></i>
  <i class="bi bi-cash-stack" (click)="selecionarIcone('bi-cash-stack')"></i>
  <i class="bi bi-wallet-fill" (click)="selecionarIcone('bi-wallet-fill')"></i>
  <i class="bi bi-bag-fill" (click)="selecionarIcone('bi-bag-fill')"></i>
  <i class="bi bi-fuel-pump-fill" (click)="selecionarIcone('bi-fuel-pump-fill')"></i>
  <i class="bi bi-truck-front-fill" (click)="selecionarIcone('bi-truck-front-fill')"></i>
  <i class="bi bi-bicycle" (click)="selecionarIcone('bi-bicycle')"></i>
  <i class="bi bi-bus-front-fill" (click)="selecionarIcone('bi-bus-front-fill')"></i>
  <i class="bi bi-car-front-fill" (click)="selecionarIcone('bi-car-front-fill')"></i>
  <i class="bi bi-briefcase-fill" (click)="selecionarIcone('bi-briefcase-fill')"></i>
  <i class="bi bi-hospital-fill" (click)="selecionarIcone('bi-hospital-fill')"></i>
  <i class="bi bi-heart-fill" (click)="selecionarIcone('bi-heart-fill')"></i>
  <i class="bi bi-capsule-pill" (click)="selecionarIcone('bi-capsule-pill')"></i>
  <i class="bi bi-eyedropper" (click)="selecionarIcone('bi-eyedropper')"></i>
  <i class="bi bi-tv-fill" (click)="selecionarIcone('bi-tv-fill')"></i>
  <i class="bi bi-wifi" (click)="selecionarIcone('bi-wifi')"></i>
  <i class="bi bi-controller" (click)="selecionarIcone('bi-controller')"></i>
  <i class="bi bi-music-note-beamed" (click)="selecionarIcone('bi-music-note-beamed')"></i>
  <i class="bi bi-camera-fill" (click)="selecionarIcone('bi-camera-fill')"></i>
  <i class="bi bi-film" (click)="selecionarIcone('bi-film')"></i>
  <i class="bi bi-book-half" (click)="selecionarIcone('bi-book-half')"></i>
  <i class="bi bi-people-fill" (click)="selecionarIcone('bi-people-fill')"></i>
  <i class="bi bi-chat-dots-fill" (click)="selecionarIcone('bi-chat-dots-fill')"></i>
  <i class="bi bi-emoji-smile-fill" (click)="selecionarIcone('bi-emoji-smile-fill')"></i>
  <i class="bi bi-cup-hot-fill" (click)="selecionarIcone('bi-cup-hot-fill')"></i>
  <i class="bi bi-egg-fried" (click)="selecionarIcone('bi-egg-fried')"></i>
  <i class="bi bi-geo-alt-fill" (click)="selecionarIcone('bi-geo-alt-fill')"></i>
  <i class="bi bi-globe" (click)="selecionarIcone('bi-globe')"></i>
  <i class="bi bi-sun-fill" (click)="selecionarIcone('bi-sun-fill')"></i>
  <i class="bi bi-cloud-sun-fill" (click)="selecionarIcone('bi-cloud-sun-fill')"></i>
  <i class="bi bi-piggy-bank-fill" (click)="selecionarIcone('bi-piggy-bank-fill')"></i>
  <i class="bi bi-bank" (click)="selecionarIcone('bi-bank')"></i>
  <i class="bi bi-credit-card-2-front-fill" (click)="selecionarIcone('bi-credit-card-2-front-fill')"></i>
  <i class="bi bi-calculator-fill" (click)="selecionarIcone('bi-calculator-fill')"></i>
  <i class="bi bi-calendar-event-fill" (click)="selecionarIcone('bi-calendar-event-fill')"></i>
  <i class="bi bi-clock-fill" (click)="selecionarIcone('bi-clock-fill')"></i>
  <i class="bi bi-alarm-fill" (click)="selecionarIcone('bi-alarm-fill')"></i>
  <i class="bi bi-trophy-fill" (click)="selecionarIcone('bi-trophy-fill')"></i>
  <i class="bi bi-star-fill" (click)="selecionarIcone('bi-star-fill')"></i>
  <i class="bi bi-lightbulb-fill" (click)="selecionarIcone('bi-lightbulb-fill')"></i>
  <i class="bi bi-box-fill" (click)="selecionarIcone('bi-box-fill')"></i>
  <i class="bi bi-receipt" (click)="selecionarIcone('bi-receipt')"></i>
  <i class="bi bi-box-seam" (click)="selecionarIcone('bi-box-seam')"></i>
  <i class="bi bi-tools" (click)="selecionarIcone('bi-tools')"></i>
  <i class="bi bi-hammer" (click)="selecionarIcone('bi-hammer')"></i>
  <i class="bi bi-scissors" (click)="selecionarIcone('bi-scissors')"></i>
  <i class="bi bi-question-circle" (click)="selecionarIcone('bi-question-circle')"></i>
</div>
