<div class="login-container">
  <h2>Login</h2>
  
  <input type="email" [(ngModel)]="email" placeholder="Email">

  <div class="password-container">
    <input 
      [type]="mostrarSenha ? 'text' : 'password'" 
      [(ngModel)]="senha" 
      placeholder="Senha"
    >
    <span class="input-group-text">
      <i *ngIf="!mostrarSenha" class="bi bi-eye" (click)="mostrarSenha = !mostrarSenha"></i>
      <i *ngIf="mostrarSenha" class="bi bi-eye-slash" (click)="mostrarSenha = !mostrarSenha"></i>
    </span>

  </div>

  <div class="g-recaptcha" [attr.data-sitekey]="siteKey" id="recaptcha"></div>
  <button (click)="onLogin()">Entrar</button>

  <p *ngIf="mensagem" class="success">{{ mensagem }}</p>
  <p *ngIf="mensagemErro" class="error">{{ mensagemErro }}</p>
</div>
