#login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
}
.login-container {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Melhorando a aparência dos inputs */
input {
  width: calc(100% - 16px);
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botão estilizado */
button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(45deg, red,purple);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 2%;
}

button:hover {
  background-color: #45a049;
}

/* Estilizando a parte da senha */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 35px; /* Espaço para o ícone */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

/* Mensagens de erro e sucesso */
.success {
  color: green;
  font-size: 14px;
}

.error {
  color: red;
  font-size: 14px;
}

/* Link para cadastro */
.pagina-login {
  display: block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
}

.pagina-login:hover {
  text-decoration: underline;
}

.input-group-text{
  position: absolute;
  margin-right: 5%;
  right: 0;
}