#cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
  }
.cadastro-container {
    max-width: 300px;
    margin: auto;
    padding: 30px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.Dados{
    width: 200px;
    margin-top: 15px;
    text-align: left;
    margin-bottom: -2px;
}

.titulo{
  color: rgb(0, 0, 0);
  text-align: center;
}


input {
    width: 93%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, red,purple);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: linear-gradient 0.3s;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5%;
}
 
button:hover{
    color: rgb(0, 0, 0);
}

.cadastro {
    text-align: center;
    color: rgb(255, 0, 0);
    display: block;
    top: 30px;
    position: relative;
}

.mensagem-retorno{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.pagina-login{
    text-decoration: underline;
    margin-left: 15%;
}

.termos{
    display: flex;
    align-items:center ; /* Alinha verticalmente */
    gap: 8px; /* Espaço entre o checkbox e o texto */
    font-size: 14px; /* Tamanho do texto */
    margin: 5% 0 5% 0;
  }
  
  .termos input {
    width: 16px; /* Ajusta o tamanho do checkbox */
    height: 16px;
   
  }
  
  