<div class="contain-popup" [style.visibility]="mostrarNovaCategoria ? 'visible' : 'hidden'">
  <div class="popUp">
    <div class="titulo">{{typePopUp === "edit" ?'Editar SubCategoria' : 'Nova SubCategoria'}}</div>

    <div class="dados-nova-conta">
      <div class="nome border-bottom">
        <h5>Categoria:</h5>

        <select [(ngModel)]="categoriaId">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.name }}
          </option>
        </select>
        
      </div>
      <!-- Nome -->
      <div class="nome border-bottom">
        <h5>Nome</h5>
        <input type="text" [(ngModel)]="nome" placeholder="Digite aqui" />
      </div>

      <div class="label-icones-cores border-bottom">
        <h5>Ícone</h5>
        <app-opcoes-icones 
        [iconeSelecionado]="iconeSelecionado" 
        (iconeSelecionadoChange)="iconeSelecionado = $event">
      </app-opcoes-icones>
      </div>

      <div class="linha-icones-cores border-bottom">
        <h5>Cor</h5>    
        <!-- Seletor de cor -->
        <input
        (input)="mostrarCorSelecionada($event, labelColorRef)"
        type="color"
        [(ngModel)]="cor"
        id="inputColorSubCategoria"
      />
        <label class="inputColor" for="inputColorSubCategoria"  #labelColorRef ></label>
        <!-- Labels à esquerda -->
        <!-- Ações à direita -->
        <div class="acoes-icones-cores">
        
        </div>
      </div>

      <!-- Informações adicionais -->
      <div class="dados-informacoes-adicionais">
        <h5>Informações adicionais</h5>
        <textarea maxlength="40" type="text" [(ngModel)]="infoAdicional"></textarea>
        <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
      </div>
    </div>

    <div class="btns">
      <button id="cancelar" (click)="fecharNovaCategoria()">Cancelar</button>
      <button id="salvar" (click)="salvarCategoria()">Salvar</button>
    </div>
  </div>
</div>
