<div class="contain-popup" [style.visibility]="mostrarNovaCategoria ? 'visible' : 'hidden'">
  <div class="popUp">
    <div class="titulo">{{typePopUp === "edit" ?'Editar SubCategoria' : 'Nova SubCategoria'}}</div>

    <div class="dados-nova-conta">
      <div class="nome">
        <h5>Categoria:</h5>

        <select [(ngModel)]="categoriaId">
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.name }}
          </option>
        </select>
        
      </div>
      <!-- Nome -->
      <div class="nome">
        <h5>Nome:</h5>
        <input type="text" [(ngModel)]="nome" />
      </div>

      <!-- Ícone + Cor agrupados -->
      <div class="linha-icones-cores">
        <!-- Labels à esquerda -->
        <div class="label-icones-cores">
          <h5>Ícone</h5>
          <h5>Cor</h5>
        </div>

        <!-- Ações à direita -->
        <div class="acoes-icones-cores">
          <!-- Ícones -->
          <!-- <app-opcoes-icones (iconeSelecionado)="iconeSelecionado = $event"></app-opcoes-icones> -->
          <app-opcoes-icones 
          [iconeSelecionado]="iconeSelecionado" 
          (iconeSelecionadoChange)="iconeSelecionado = $event">
        </app-opcoes-icones>
          <!-- Seletor de cor -->
          <input
          (input)="mostrarCorSelecionada($event, labelColorRef)"
          type="color"
          [(ngModel)]="cor"
          id="inputColorSubCategoria"
        />
          <label class="inputColor" for="inputColorSubCategoria"  #labelColorRef ></label>
        </div>
      </div>

      <!-- Informações adicionais -->
      <div class="dados-informacoes-adicionais">
        <h5>Informações adicionais</h5>
        <textarea maxlength="40" type="text" [(ngModel)]="infoAdicional"></textarea>
        <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
      </div>
    </div>

    <div class="btns">
      <button id="cancelar" (click)="fecharNovaCategoria()">Cancelar</button>
      <button id="salvar" (click)="salvarCategoria()">Salvar</button>
    </div>
  </div>
</div>
