nav {
    background-color: white;
    width: 195px;
    min-width: 70px;
    height: 100vh;
    position: fixed;
    transition: 0.5s ease-in-out;
    top: 0;
    left: auto; 
    z-index: 99;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 7px 0px 18px -12px rgb(168, 168, 168);
}

nav::-webkit-scrollbar {
    width: 5px;
  }
  
  nav::-webkit-scrollbar-track {
    background: transparent;
  }
  
  nav::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  

/* Botão para expandir/recolher */
.toggle-sidebar {
    position: absolute;
    top: 10px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
}

/* Cabeçalho com logo */
.menu-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 9% 0% 9%;
}

.logo-lumen {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #5A2994;
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
}


/* Lista de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 35%;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    transition: 0.3s;
    cursor: pointer;
    color: #aaa;
    font-size: 14px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 1s ease-in-out;
    margin-top:0.25px ;
}

nav ul li.active,
nav ul li:hover {
    background: linear-gradient(to right, #5A89F0, #3C217A);
    color: white;
}

nav ul li.active i,
nav ul li:hover i,
nav ul li.active label,
nav ul li:hover label {
    color: white;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    justify-content: end;
}

nav ul li i {
    font-size: 1.2rem;
    margin-right: 10px;
}

.text-menu {
    font-weight: 500;
    white-space: nowrap;
    width: 80%;
    cursor: pointer;
}

/* Área do usuário */
.usuario {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #eee;
    background-color: #f8f8f8;
    margin-top: auto;
}

.usuario-icon {
    background-color: #d6cfe5;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.usuario-icon i {
    font-size: 2rem;
    color: #3c1d75;
}

.usuario .nome {
    font-weight: 600;
    color: #3C217A;
    font-size: 14px;
}

.nome{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.contain-nome-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#icon-hambur{
    border:1px solid #b8b8b8;
    border-radius: 100px;
    width: 15px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.usuario a {
    font-size: 15px;
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

.usuario a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 65px;
        flex-direction: row;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        width: 95%;
        top: 20vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        overflow: overlay;
        margin-top: 15%;
    }

    .menu-cabecalho {
        width: 90%;
        padding: 2%;
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        flex: 0 0 auto;
        padding: 10px 30px 10px 30px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav ul li a {
        justify-content: start;
    }

    .text-menu {
        display: block;
        font-size: 12px;
    }

    .logo-lumen {
        font-size: 1.5rem;
        margin: 0;
        padding: 5px 15px 5px 15px;
    }

    .usuario {
        display: none;
    }

    .toggle-sidebar {
        bottom: 10px;
        top: auto;
        right: 10px;
    }
}