
<nav id="nav">
    <div class="menu-cabecalho">
        <img src="https://img.freepik.com/vetores-gratis/design-de-comemoracao-do-25-aniversario_460848-13706.jpg?t=st=1743107116~exp=1743110716~hmac=3bb2a380d31213193398b666b67406b3b8da9d17bcdbfc252bf4b047276f20fd&w=740" alt="logo do restaurante donphellipe">
        <i id="icon-hambur" class="bi bi-list" (click)="toggleMenu()"></i>
    </div>
    <ul>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-houses"></i> <label class="text-menu">Home</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-list-task"></i> <label class="text-menu">Cardápio</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-card-list"></i> <label class="text-menu">Categorias</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-clipboard-data-fill"></i> <label class="text-menu">Análise</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="fa-solid fa-list-check"></i> <label class="text-menu">Pedidos</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-calendar-event"></i> <label class="text-menu">Funcionamento</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="fa-solid fa-robot"></i> <label class="text-menu">Mensagens</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-geo-fill"></i> <label class="text-menu">Regiões Entrega</label></a>
        </li>
        <li class="itens-menu">
            <a routerLink="#"><i class="bi bi-box-arrow-left"></i> <label class="text-menu">Sair</label></a>
        </li>
    </ul>
</nav>
