.receitas{
    background-color: var(--cor-6);
    padding: 1%;
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding: 4%;
}
.receitas h1{
    margin: 0;
}

.titulo-receitas i{
    cursor: pointer;
}

.titulo-receitas{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.saldo-mes-anterior{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contain-receita-mes-prevista{
    width: 100%;

}

.contain-receita-mes-prevista div{
    display: flex;
    justify-content: space-between;
}

#valor-do-saldo-mes-anterior{
    display: flex;
    align-items: center;
}
.contain-receita-mes-prevista h4,.contain-receita-mes-prevista h1{
    margin: 0;
}