<div class="receitas">
    <div class="titulo-receitas">
        <h1>Receitas</h1>
        <i class="bi bi-three-dots more-icon"></i>
    </div>
    <div class="saldo-mes-anterior">
        <h4>Saldo do mês anterior</h4>
        <h1 id="valor-do-saldo-mes-anterior">100,00</h1>
    </div>
    <div class="contain-receita-mes-prevista">
        <div>
            <h4>Saldo do mês anterior</h4>
            <h1 id="valor-do-saldo-mes-anterior">100,00</h1>
        </div>
        <div>
            <h4>Saldo do mês anterior</h4>
            <h1 id="valor-do-saldo-mes-anterior">100,00</h1>
        </div>

    </div>