.botao-add-categoria {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
  }
  
  .lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .popup-topo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
  }
  
  .popup input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .icone-seletor {
    position: relative;
  }
  
  .icone-seletor i {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu-icones {
    position: absolute;
    top: 30px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .menu-icones i {
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn-salvar {
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  