<div class="contain-popup" [style.visibility]="mostrarNovaCategoria ? 'visible' : 'hidden'">
  <div class="popUp">
    <div class="titulo">{{typePopUp === "edit" ? 'Editar Categoria' : 'Nova Categoria'}}</div>

    <div class="dados-nova-conta">
      <!-- Nome -->
      <div class="nome border-bottom">
        <h5>Nome:</h5>
        <input type="text" [(ngModel)]="nome" placeholder="Digite aqui" />
      </div>

      <div class="label-icones-cores border-bottom">
        <h5>Ícone</h5>
        <app-opcoes-icones 
          [iconeSelecionado]="iconeSelecionado" 
          (iconeSelecionadoChange)="iconeSelecionado = $event">
        </app-opcoes-icones>
      </div>

      <div class="linha-icones-cores border-bottom">  
        <h5>Cor</h5>
        <input
          (input)="mostrarCorSelecionada($event, labelColor)"
          id="inputColorNovaCategoria"
          type="color"
          [(ngModel)]="cor"
        />
        <label class="inputColor" for="inputColorNovaCategoria" disabled #labelColor></label>
        <div class="acoes-icones-cores"></div>
      </div>

      <!-- Informações adicionais -->
      <div class="dados-informacoes-adicionais">
        <h5>Informações adicionais</h5>
        <textarea maxlength="150" type="text" [(ngModel)]="infoAdicional"></textarea>
        <i class="bi bi-plus-slash-minus" style="visibility: hidden; padding: 2.8%;"></i>
      </div>
    </div>

    <!-- Mensagem de erro -->
    <div *ngIf="mensagemErro" class="mensagem-erro">
      {{ mensagemErro }}
    </div>

    <div class="btns">
      <button id="cancelar" (click)="fecharNovaCategoria()">Cancelar</button>
      <button id="salvar" (click)="salvarCategoria()">Salvar</button>
    </div>
  </div>
</div>
