<app-sidebar></app-sidebar>
<app-menu></app-menu>

<section id="dashboard">
    <div class="contas">
        <h2>Conta:</h2>
        <select name="">
            <option value="">Principal</option>
            <option value="">Conta</option>
        </select>
        <i class="bi bi-plus"></i>
    </div>

    <div class="contain-dashboard-1">
        <div>
            <app-receitas id="comp-receitas"></app-receitas>
            <app-despesas></app-despesas>
        </div>
        <app-evolucao-do-balanco></app-evolucao-do-balanco>
    </div>

    <div class="contain-despesa-principais-categorias">
        <app-despesaspor-categoria></app-despesaspor-categoria>
        <app-pricipais-despesas></app-pricipais-despesas>
    </div>



</section>