<div class="menu">
    <div class="contain-menu-1">
        <div>Logo</div>
    </div>
    <div class="contain-menu-2">
        <div>
            <select name="" id="">
                <option value="">Janeiro</option>
                <option value="">Fevereiro</option>
            </select>
        </div>
        <div>
            <i (click)="toggleOptions()" class="bi bi-plus-circle"></i>
        </div>
        <div>
            <i class="bi bi-person-circle"></i>
        </div>
    </div>
</div>

<div class="options" [class.optionsShow]="optionsVisivel">
    <div (click)="selecionarOpcao()">Nova Receita</div>
    <div (click)="selecionarOpcao()">Nova Despesa</div>
    <div (click)="selecionarOpcao()">Nova Despesa de Cartão</div>
    <div (click)="selecionarOpcao()">Nova Transferência</div>
    <div (click)="selecionarOpcao(); toggleNovaContaPopup()">Nova Conta</div>
</div>

<app-nova-conta></app-nova-conta>
