.menu{
    background-color: var(--cor-6);
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 96%;
}

.contain-menu-2{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20%;
    width: 20%;
}

.contain-menu-2 i{
    font-size: 1.3rem;
}

.contain-menu-2 div{
    cursor: pointer;
}

.options{
    width: 10%;
    position: absolute;
    right: 2%;
    background-color: var(--cor-6);
    padding: 10px;
    overflow: hidden;
    height: 00px;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.optionsShow{
    height:210px;
    visibility: visible;
}

.options div{
    margin: 4% 0 4% 0;
    padding: 2%;
    cursor: pointer;
    border-bottom: 1px solid var(--cor-4);
}

@media screen and (max-width: 800px) {
    .menu{
        margin-top: 23%;
    }
    .contain-menu-2{
        width: 80%;
    }
    .options{
        width: 45%;
        right: 2%;
    }
}