.chart-container {
  display: flex;
  flex-direction: column;
  /* Organiza o conteúdo em uma coluna */
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  /* position: absolute; */
  width: 100%;
}


.titulo-despesa-categoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  padding: 2%;
}

.titulo-despesa-categoria h1{
  margin: 0;
}

@media screen and (max-width: 800px) {
  .chart-container {
    width: 80%;
    margin: auto;
    padding: 5%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .chart-container {
    height: 80vh;
  }
}